
/*Адаптиация*/
@media screen and (max-width: 1701px) {
    #AboutTextPad{
        margin-top: 30px;
    }
}

@media screen and (max-width: 984px) {
    #AboutTextPad{
        margin-top: 20px;
    }
}

@media screen and (max-width: 800px) {
    #LinksBlock{
        height: 210px;
        display: grid;
    }
}

@media screen and (max-width: 680px) {
    #AboutTextPad{
        margin-top: 10px;
    }
}