/* Основной стиль как для всей страницы, так и для отдельных крупных элементов */

*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    position: relative;
    background-color: #5CDB95;
    color: #05386B;
    height: 65px;
    width: 100%;
    outline-style: solid;
    outline-width: 2px;
    outline-color: #05386B;
}

body{
    background-color: #EDF5E1;
}

/*Стили класса Button*/
.Button{
    background-color: #209b72f6;
    color: #EDF5E1;
    font-weight: 500;
    padding: 11px;
    opacity: 0.95;
    text-decoration: none;
    outline-style: solid;
    outline-width: 0.5px;
    transition: 0.3s;
    outline-color: #05386B;
    box-shadow: 2px 2px 5px #888;
}
.Button:hover{
    color: #e8fccb;
    outline-color: #5CDB95;
    transition: 0.3s;
}
.Button:active{
    color: #ffffff;
}

/*Стили для класса ссылки*/
.link{
    transition: 0.3s;
    color: #05386B;
}
.link:hover{
    transition: 0.3s;
    color: #0e5caa;
}
.link:active{
    color: #379683;
}

/* Стили для кнопок , расположенных в header'е */

#SiteName{
    text-decoration: none;
    position: absolute;
    font-size: 40px;
    left: 50%;
    top: 18%;
}
#MainPage{
    font-size: 28px;
    position: absolute;
    left: 25%;
    top: 20%;
}
#DownloadsPage{
    font-size: 28px;
    position: absolute;
    left: 75%;
    top: 20%;
}

/* Стили основной страницы */

/*Стили для описания и логотипа*/
#ProgramLogo{
    position: absolute;
    margin-left: 30px;
    margin-top: 30px;
    box-shadow: 2px 2px 5px #888;
    transition: 0.4s;
}
#ProgramLogo:hover{
    transform: scale(1.07);
}
#AboutTextPad{
    position: absolute;
    color: #05386B;
    font-size: 21px;
    margin-left: 120px;
    margin-top: 45px;
}
#InstallationGuide{
    position: absolute;
    color: #05386B;
    font-size: 21px;
    margin-left: 30px;
    margin-top: 100px;
}

/*Стили для ссылок*/
#GitHubSource{
    position: absolute;
    font-size: 21px;
    margin-left: 30px;
    margin-top: 230px;
}

#SDK8-0{
    position: absolute;
    font-size: 21px;
    margin-left: 30px;
    margin-top: 260px;
}
#SDK6-0{
    position: absolute;
    font-size: 21px;
    margin-left: 120px;
    margin-top: 260px;
}
#SDK5-0{
    position: absolute;
    font-size: 21px;
    margin-left: 210px;
    margin-top: 260px;
}
#SDK3-1{
    position: absolute;
    font-size: 21px;
    margin-left: 300px;
    margin-top: 260px;
}

/*Стили для кнопок*/
#DownloadTextPad{
    position: absolute;
    margin-top: 300px;
    margin-left: 30px;
}
#AllDownloads{
    position: absolute;
    margin-top: 300px;
    margin-left: 235px;
}

/*Стили для скринов*/
#ScreenTextPad1{
    position: absolute;
    margin-top: 360px;
    margin-left: 30px;
    box-shadow: 2px 2px 5px #888;
}
#ScreenTextPad2{
    position: absolute;
    margin-top: 690px;
    margin-left: 30px;
    box-shadow: 2px 2px 5px #888;
}

/*Lightbox*/
.minimized {
    width: 600px;
}
.container img {
    transition: 0.4s;
}
.container img:hover {
    border: 1px solid yellow;
    transform: scale(1.02);
}
