

#site-name{
    background-color:#14bb46f6;
    height: 55px;
    font-size: 45px;
}
#logo1{
    position: absolute;
    top: 120px;
    left: 5px;
}
#projects{
    position: absolute;
    top: 70px;
    font-size: 29px;
    color: #1350d3;
}

#about_tp{
    color: #1350d3;
    position: absolute;
    font-size: 20px;
    top: 115px;
    left: 90px;
}
#SDK6-0{
    color: #1350d3;
    position: absolute;
    font-size: 20px;
    top: 190px;
    left: 90px;
}
#SDK5-0{
    color: #1350d3;
    position: absolute;
    font-size: 20px;
    top: 210px;
    left: 90px;
}#SDK3-1{
    color: #1350d3;
    position: absolute;
    font-size: 20px;
    top: 230px;
    left: 90px;
}
#rus{
    font-size: 20px;
    position: absolute;
    top: 25px;
    left: 25px;
}

#downloadtp{
    background-color: #209b72f6;
    color: #ffffff;
    padding: 11px;
    margin: 5px;
    opacity: 0.9;  
    position: absolute;
    top: 260px;
    left: 85px;
}

#old_vertp{
    background-color: #209b72f6;
    color: #ffffff;
    padding: 11px;
    margin: 5px;
    opacity: 0.9;
    position: absolute;
    top: 260px;
    left: 270px;
}
#screen_ru_tp{
    position: absolute;
    top: 320px;
    left: 40px;
}
#screen_en_tp{
    position: absolute;
    top: 660px;
    left: 40px;
}
#logo2{
    position: absolute;
    top: 1010px;
    left: 5px;
}
#about_fw{
    color: #1350d3;
    position: absolute;
    font-size: 20px;
    top: 1010px;
    left: 90px;
}
#downloadfw{
    background-color: #209b72f6;
    color: #ffffff;
    padding: 11px;
    margin: 5px;
    opacity: 0.9;  
    position: absolute;
    top: 1060px;
    left: 85px;
}
#screenfwrus{
    position: absolute;
    top: 1140px;
    width: 500px;
    left: 40px;
}
#screenfwen{
    position: absolute;
    top: 1140px;
    left: 580px;
    width: 500px;
}
.minimized {
    width: 600px;
    border: 1px solid #FFF;
}

.container img {
    transition: 0.5s;
}
.container img:hover {
    border: 1px solid yellow;
    transform: scale(1.1);
}