/*Адаптиация*/
@media only screen and (max-width: 4000px) {
    #Description{
        margin-top: 21px;
    }
}

@media only screen and (max-width: 2200px) {
    #Description{
        margin-top: 10px;
    }
}

@media only screen and (max-width: 2000px) {
    #Description{
        margin-top: 8px;
    }
}

@media only screen and (max-width: 1630px) {
    #DescriptionBlock{
        height: 130px;
    }
}

@media only screen and (max-width: 1280px) {
    #DescriptionBlock{
        height: 160px;
    }
}

@media only screen and (max-width: 1225px) {
    #tp22about{
        top: -30px;
    }
}

@media only screen and (max-width: 1195px) {
    #tp11about{
        top: -30px;
    }
}

@media only screen and (max-width: 1135px) {
    #tp221about{
        top: -30px;
    }
}

@media only screen and (max-width: 1105px) {
    #tp250about{
        top: -30px;
    }
    #tp06about{
        top: -30px;
    }
}

@media only screen and (max-width: 1070px) {
    #tp260about{
        top: -30px;
    }
}

@media only screen and (max-width: 1024px) {
    #DescriptionBlock{
        height: 190px;
    }
    #tp270about{
        top: -30px;
    }
}

@media only screen and (max-width: 980px) {
    #tp240about{
        top: -30px;
    }
}
